.app-header {
  border-bottom: 1px solid black;
  font-size: 2rem;
}

.content {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid cadetblue;
}

.html {
  flex: 1;
  overflow: auto;
  height: 300px;
  border-right: 1px solid cadetblue;
}

.javascript {
  flex: 1;
  overflow: auto;
  height: 300px;
  border-right: 1px solid cadetblue;
}

.css {
  flex: 1;
  overflow: auto;
  height: 300px;
}

.title {
  height: auto;
  padding-left: 10px;
  font-weight: bold;
  background-color: lavender;
  color: brown;
  border-bottom: none;
}